@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>What is Cloud Computing?</h1>
    <p class="lead"> What is Cloud Computing? One of examples is Microsoft Azure, in short, it’s Microsoft’s cloud platform a growing collection of integrated services—compute, storage, data, networking, and app—that help you move faster, do more, and save money. But that’s just scratching the surface. here’s what else azure is….</p>
    <p><a href="http://azure.microsoft.com/en-us/" class="btn btn-primary btn-lg" target="_blank">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="myrow">
        <h2>It’s IaaS + PaaS</h2>
        <p>
            Azure is the only major cloud platform ranked by Gartner as an industry leader for both infrastructure-as-a-service (IaaS) and platform-as-a-service (PaaS). This powerful combination of managed and unmanaged services lets you build, deploy, and manage applications any way you like for unmatched productivity.
        </p>
        <hr/>
    </div>
    <div class="myrow">
        <h2>It’s hybrid ready</h2>
        <p>Some cloud providers make you choose between your datacenter and the public cloud. Not Azure. Its enterprise-proven hybrid cloud solutions give you the best of both worlds, expanding your IT options without added complexity. With Azure, data storage, backup, and recovery become more efficient and economical. It’s also easier to build applications that span both on-premises and the cloud.</p>
        <hr />
    </div>
    <div class="myrow">
        <h2>It’s open and flexible</h2>
        <p>Azure supports any operating system, language, tool, and framework— from Windows to Linux, SQL Server to Oracle, C# to Java. It puts the best of Windows and Linux ecosystems at your fingertips, so you can build great applications and services that work with every device.</p>
        <hr />
    </div>
    <div class="myrow">
        <h2>It’s always up, always on</h2>
        <p>You’ll share the same enterprise-tested platform that powers Skype, Office 365, Bing, and Xbox. Azure offers a 99.95% availability SLA, 24x7 tech support, and round-the-clock service health monitoring. That’s why more than 57% of Fortune 500 companies rely on Azure today. From live streaming Olympic events to online multiplayer online games, our customers are doing some amazing things.</p>
        <hr />
    </div>
    <div class="myrow">
        <h2>It’s economical and scalable</h2>
        <p>Azure can quickly scale up or down to match demand, so you only pay for what you use. Per-minute billing and a commitment to match competitor prices for popular infrastructure services like compute, storage and bandwidth means you’re always getting unbeatable price for performance.</p>
        <hr />
    </div>
    <div class="myrow">
        <h2>It’s everywhere</h2>
        <p>Azure runs on a growing global network of Microsoft-managed datacenters across 19 regions, giving you a wide range of options for running applications and ensuring your customers always get great performance. Azure is the first multinational cloud provider in mainland China and is continuing to expand to new regions around the globe</p>
        
    </div>
</div>
<style>
    .myrow {
        margin-left: 5em; 
        margin-right: 5em; 
    }
</style>