@{
    ViewBag.Title = "Lectures";
}
<h2>@ViewBag.Title.</h2>

<div class="row">
    <div class="col-md-4">
        <p>Lecture 1. Introduction</p>
        <iframe src="https://onedrive.live.com/embed?cid=40A7EF59EE3E4A15&resid=40A7EF59EE3E4A15%21778216&authkey=AOEt_umykO4ub-4&em=2" width="402" height="327" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

